body{
    background-color: rgb(150, 184, 147);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border: 1px black solid;
}

a{
    color: rgb(96, 1, 109);
    font-weight: bold;
    font-family: 'Calibri';
}

nav{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
}

#nav{
    display: flex;
    flex-direction: row;
    border: 1px black solid;
    justify-content: center;
    width: 15%;
}

#haut{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;  
}

#haut1{
    display: flex;
    flex-direction: row;
    width: 15%;
    margin-left: 5px;
}

#haut2{
    display: flex;
    flex-direction: column;
    width: 85%;
}